@font-face {
  font-family: 'CasinoFont';
  src: url('./Casino-Italic.ttf');
}
body{
  margin: 0 0 0 0;
  /* font-family: 'Hachi Maru Pop'; */
  /* font-family: "Nico Moji"; */
  font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  background-color: #A10352;
  overflow: hidden;
}
header{
  background-color: #0D8549;
  text-align: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
.title{
  color: #F9C11C;
  text-shadow: 3px 3px 0 #A10352, -3px 3px 0 #A10352, 3px -3px 0 #A10352, -3px -3px 0 #A10352;
  font-size: 70px;
  font-family: 'CasinoFont';
  font-style: italic;
  background-color: transparent;
  text-decoration: none;
}
.section-title{
  text-align: center;
  font-size: xx-large;
  color: white;
  background-color: #0D8549;
  width: 70%;
  height: 3em;
  padding-top: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.section-main{
  margin-top: 10em;
  height: fit-content;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0D8549;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
/* form{
  background-color: #0D8549;
  width: 70%;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
} */
input[type="text"], input[type="number"]{
  display: block;
  background-color: rgb(227, 227, 227);
  font-size: xx-large;
  width: 250px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  border: solid black 2px;
}
input[type="submit"]{
  background-color: white;
  font-size: x-large;
  /* border: solid #A10352 3px ; */
  width: 250px;
  height: 40px;
  border-radius: 30px;
  margin-top: 25px;
  background-color: #F9C11C;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
input[type="submit"]:hover{
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border: 0.5em solid #3A3D44;
  border-radius: 5px;
  counter-reset: rowCount;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  width: 85%;
  color: white;
}
.rank-no, .rank-name, .rank-score{
  background-color: #3A3D44;
  color: white;
  height: 20px;
}
.data-no, .data-name, .data-score{
  background-color: #3A3D44;
  border: 0.1em solid #3A3D44;
}
.rank-no{
  width: 5em;
}
.rank-name{
  width: 60%;
}
.rank-score{
  width: 35%;
}
table>tbody>tr {
  counter-increment: rowCount;
  height: 2em;
  font-size: xx-large;
  
}

table>tbody>tr>td:first-child::before {
  content: counter(rowCount);
}

@media screen and (max-width: 768px) {
  .title{
    font-size: 60px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 500px) {
  .section-main{
    width: 80%;
  }
}
@media screen and (max-width: 370px) {
  input[type="text"], input[type="number"]{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  input[type="submit"]{
    width: 200px;
  }
  .title{
    font-size: 35px;
  }
}